
img {
    display: block;
    width: 80%;
    margin: auto;
    height: 280;
}
p {
    margin-bottom: 0;
    font-size: 25px;
    margin: auto;
    text-align: center;
}

.f {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr auto 3fr;
    align-items: center;
    justify-content: center;
}

fa-icon:hover {
    cursor: pointer;
}

button {
    font-size: 25px;
    display: block;
    width: 80%;
    margin: 20px auto;
    background-color: rgb(121, 122, 122);
    color: white;
}
